{
  "root": true,
  "extends": ["next/core-web-vitals"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "name": "next/document",
            "message": "Import from next/document only in src/pages/_document.tsx"
          }
        ]
      }
    },
    {
      "files": ["pages/_document.tsx"],
      "rules": {
        "no-restricted-imports": "off"
      }
    }
  ]
}
