# Next dev/build outputs


.output
.data
.nuxt
.nitro
.cache
.wrangler
dist/

# Node dependencies
node_modules/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
# Ignore Python venv
server/WhisperLive/venv/

# Ignore caches, builds, logs
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
*.sqlite3
# Local env files
.env
.env.*
!.env.example

# private keys and certificates
*.key
*.crt
# ignore your Python virtualenv
server/.venv/
# or if it's named differently:
server/venv/

# ignore ffmpeg binaries
server/utils/ffmpeg.exe
server/utils/ffplay.exe
server/utils/ffprobe.exe

dev.sqlite
dev.sqlite-journal


# Ignore any virtualenv folders
server/venv/
server/.venv/
server/WhisperLive/venv/
server/WhisperLive/.venv/

# (you may also want to ignore other .exe/.dll under site-packages)
.next/

setup_venv.sh