# Next dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.wrangler
dist/

# Node dependencies
node_modules
.next
.git
.gitignore
README.md
.env.local
.env.example
Dockerfile
docker-compose*.yml
.dockerignore
coverage
.coverage
*.log
.DS_Store
*.md
docs/
tests/
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.vscode/
.idea/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files


# private keys and certificates
*.key
*.crt
# ignore your Python virtualenv
server/.venv/
# or if it's named differently:
server/venv/

# ignore ffmpeg binaries
server/utils/ffmpeg.exe
server/utils/ffplay.exe
server/utils/ffprobe.exe



